<div class='all-questions'>
 {{#each questions}}
  {{#each this}}

 <div>
   <p><strong>Question: {{title}}</strong></p>
   <p>Answer 1: {{answer1}}</p>
   <p>Answer 2: {{answer2}}</p>
   <p>Answer 3: {{answer3}}</p>
   <button type="button" data-id="{{id}}" class="btn btn-danger deleteButton">Delete</button>
   <button type="button" data-id="{{id}}" data-toggle="modal" data-target="#updateQuestion" class="btn btn-default updateButton">Edit</button>



 </div>

  {{/each}}
 {{/each}}
</div>
